.headerDiv {
    display: flex;
    justify-content: space-between;
    background-color: rgba(34, 34, 34, 0.944);
    position: fixed;
    width: 100%;
}

.headerTitle {
    text-align: center;
    margin:auto;
}



