.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.944);
    padding: 15px;
    border-radius: 5px;
}

.logo {
    width: 40px;
}

.headerTitle {
    margin-left: 4px;
}

.skillSet {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.leftDiv {
    display: flex;
    margin-top: 2px;
    width: 40px;
}

.contactBtn {
    font-size: 20px;
    background-color: orangered;
    color: black;
    font-weight: 900;
    border-radius: 5px;
    padding: 5px;
}

.socialLinks {
    margin-right: 45px;
}

.socialLinks:hover {
    color: white;
}

.linkedin {
    width: 150px
}