.headerDiv {
    display: flex;
    justify-content: space-between;
    background-color: darkolivegreen;
}

.linkedinLink,
.githubLink,
.emailLink {
    font-size: 30px;
    margin: 8px;
}

.linkedinLink:hover,
.githubLink:hover,
.emailLink:hover {
    color: black;
}

.socialLinks {
    display: flex;
    justify-content: flex-end;
}