.cvContainer {
    display: flex;
    /* justify-content: center; */
    background-color: rgba(34, 34, 34, 0.944);
    margin: 12px 0px 12px 0px;
}

.htmlLogo {
    width: 50px;
}

.cssLogo {
    width: 50px;
}