.mainDivContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.imageContainer {
    display: flex;

}

.placeholderIMG {
    margin: auto;
    margin-top: 82px;
    width: 300px;
}