.contentContainer {
    background-color: rgba(34, 34, 34, 0.944);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.logoHr {
    margin-left: 16px;
}

.logoContainer {
    display: flex;
    flex-direction: row;
  
}

.mainlogo {
    width: 250px;
    border-radius: 50%;
    margin-left: 24px;
    margin-right: 24px;
    border: 2px solid orangered;
}

.danySpan {
    color: white;
}

.html,
.css,
.react {
    width: 35px;
}

.js {
    width: 30px;
}

.git {
    width: 40px;
}

.firebase {
    width: 25px;
}

.jira {
    width: 35px;
}

.scrum {
    width: 45px;
    margin-right: -10px;
    margin-left: -8px;
}

.ts {
    width: 45px;
    margin-left: -5px;
}

.skillsetContainer {
    display: flex;
    margin-left: 32px;
    align-items: center;
    flex-direction: row;
    padding: 32px;
}

.hr {
    display: flex;
    flex-direction: row;
    width: 30px;
    margin: 5px;
}

.hrLogo {
    height: 225.13px;
}