.hamburgerMenuBtn {
    font-size: 30px;
    background-color: rgba(34, 34, 34, 0.944);
    position: fixed;
    width: 50px;
}

.hamburgerMenuContainer {
    position: absolute;
    margin-top: 3rem;
}

.link {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}