@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Playfair', sans-serif;
    text-decoration: none;
}

body {
    background-color: rgb(0, 0, 0);
}