.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 41, 41);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 12px;
}

.footerTitle {
    font-size: 20px;
}