.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    background-color: rgba(34, 34, 34, 0.944);
    border-radius: 5px;

}

.textContainer {
    display: grid;
    grid-template-columns: 1fr;
    width: 1000px;
    text-align: center;
    height: 100%;
    margin: auto;
}

.title {
    text-align: center;
    margin: auto;
}