.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: rgba(34, 34, 34, 0.944);
    border-radius: 5px;
}

.textContainer {
    display: grid;
    grid-template-columns: 1fr;
    width: 1000px;
}

.me {
    color: whitesmoke;
}